/* All styles */
* {
	font-family: 'Inter', Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
	box-sizing: border-box;
	font-style: normal;
}

/* Header styling*/
header {
	width: 100%;
	background-color: #3AAFA9;
	overflow: auto;
	padding: 10px;
}

header h1#logo {
	font-weight: bold;
	font-size: 24px;

	color: #ffffff;
	float: left;
	width: 400px;
	padding: 10px 10px;
}

h1#logo a {
	color: #ffffff;
	text-decoration: none;
}
header nav {
	float: right;
	width: 700px;

	padding: 0px 30px 0px 0px;
}

nav ul {
	margin: 10px 0px;
	padding: 5px 0px;
}

nav ul li {
	display: inline;
	margin: 0px 35px;
}

header nav li a:link{
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;

}

header nav li a:visited{
	color: #ffffff;

}

header nav li a:hover{

}

/* Login and signup form styles */
section.container{
	content: "";
	display: table;
	clear: both;
	background-color: #DEF2F1;
	height: 0 auto;
	width: 100%;
}

div.column {
	width: 0 auto;
}

form.login-form, form.signup-form{
	overflow: auto;
	margin: 50px 500px;
	padding: 20px;
	background: #FFFFFF;
	border: 1px solid #2B7A78;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 20px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2.heading {
	font-weight: normal;
	font-size: 36px;
	line-height: 24px;

	padding: 12px;
	align-items: center;
	text-align: center;

}

label {
  padding: 12px 12px 12px 0;
  display: block;
}

input[type=text], input[type=password] {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #17252A;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 0 auto;
  margin: 20px 200px 20px 0px;

}

input[type=submit]:hover {
  background-color: #2d4852;
}

span.error {
	font-weight: normal;
	font-size: 12px;
	color: #F53525;
	text-align: center;
}

/**********FOOTER STYLES**********/

footer.footer-distributed{
	background-color: #17252A;
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: 16px;

	padding: 3em 3em;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font-size: 24px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name{
	color: white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	font-size: 25px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}
